<h2>Leia seu QR-Code <button  (click)="restart()" >Ler código</button></h2> 
<div id="loadingMessage" #loadingMessage>🎥 Não consegui acessar seu vídeo (certifique que concedeu acesso á webcam)</div>
  <canvas id="canvas" #canvas hidden></canvas>
  <video #video id="video" width="600" height="400" autoplay hidden></video>
  <div id="output" #output >
    <div id="outputMessage" #outputMessage *ngIf="!outputData">Nenhum QR code detectado</div>
    <div><b>Texto:</b> <span id="outputData" *ngIf="outputData" >{{outputData}}</span></div>
  </div>
